## **Dataset & API**

We‚Äôll use **NYC Taxi data** via the same custom API from the workshop:

üîπ **Base API URL:**  
```
https://us-central1-dlthub-analytics.cloudfunctions.net/data_engineering_zoomcamp_api
```
üîπ **Data format:** Paginated JSON (1,000 records per page).  
üîπ **API Pagination:** Stop when an empty page is returned.

# Q1: dlt Version

1. **Install dlt**:

```
!pip install dlt[duckdb]
```

> Or choose a different bracket‚Äî`bigquery`, `redshift`, etc.‚Äîif you prefer another primary destination. For this assignment, we‚Äôll still do a quick test with DuckDB.

2. **Check** the version:

```
!dlt --version
```

or:

```py
import dlt
print("dlt version:", dlt.__version__)
```

Provide the **version** you see in the output.

In [1]:
!dlt --version

dlt 1.21.0

# Question 2: Define & Run the Pipeline (NYC Taxi API)

Use dlt to extract all pages of data from the API.

Steps:

1Ô∏è‚É£ Use the `@dlt.resource` decorator to define the API source.

2Ô∏è‚É£ Implement automatic pagination using dlt's built-in REST client.

3Ô∏è‚É£ Load the extracted data into DuckDB for querying.

```py
import dlt
from dlt.sources.helpers.rest_client import RESTClient
from dlt.sources.helpers.rest_client.paginators import PageNumberPaginator


# your code is here


pipeline = dlt.pipeline(
    pipeline_name="ny_taxi_pipeline",
    destination="duckdb",
    dataset_name="ny_taxi_data"
)
```

Load the data into DuckDB to test:
```py
load_info = pipeline.run(ny_taxi)
print(load_info)
```
Start a connection to your database using native `duckdb` connection and look what tables were generated:"""

```py
import duckdb
from google.colab import data_table
data_table.enable_dataframe_formatter()

# A database '<pipeline_name>.duckdb' was created in working directory so just connect to it

# Connect to the DuckDB database
conn = duckdb.connect(f"{pipeline.pipeline_name}.duckdb")

# Set search path to the dataset
conn.sql(f"SET search_path = '{pipeline.dataset_name}'")

# Describe the dataset
conn.sql("DESCRIBE").df()

```

How many tables were created?

In [4]:
import dlt
from dlt.sources.helpers.rest_client import RESTClient
from dlt.sources.helpers.rest_client.paginators import PageNumberPaginator

# your code is here
@dlt.resource(name="rides")
def ny_taxi():
    client = RESTClient(
        base_url = "https://us-central1-dlthub-analytics.cloudfunctions.net",
        paginator=PageNumberPaginator(base_page=1, total_path=None)
    )

    for page in client.paginate("data_engineering_zoomcamp_api"):
        yield page

pipeline = dlt.pipeline(
    pipeline_name="ny_taxi_pipeline",
    destination="duckdb",
    dataset_name="ny_taxi_data"
)

In [5]:
load_info = pipeline.run(ny_taxi)
print(load_info)

2026-01-21 12:41:17,209|[WARNING]|93020|8320410112|dlt|validate.py|verify_normalized_table:91|In schema `ny_taxi`: The following columns in table 'rides' did not receive any data during this load and therefore could not have their types inferred:
  - rate_code
  - mta_tax

Unless type hints are provided, these columns will not be materialized in the destination.
One way to provide type hints is to use the 'columns' argument in the '@dlt.resource' decorator.  For example:

@dlt.resource(columns={'rate_code': {'data_type': 'text'}})

Pipeline ny_taxi_pipeline load step completed in 1.17 seconds
1 load package(s) were loaded to destination duckdb and into dataset ny_taxi_data
The duckdb destination used duckdb:////Users/hyunwoooh/data-engineering-zoomcamp-homework/workshops/dlt/ny_taxi_pipeline.duckdb location to store data
Load package 1769017257.954357 is LOADED and contains no failed jobs

In [6]:
import duckdb
#from google.colab import data_table
#data_table.enable_dataframe_formatter()

# A database '<pipeline_name>.duckdb' was created in working directory so just connect to it

# Connect to the DuckDB database
conn = duckdb.connect(f"{pipeline.pipeline_name}.duckdb")

# Set search path to the dataset
conn.sql(f"SET search_path = '{pipeline.dataset_name}'")

# Describe the dataset
conn.sql("DESCRIBE").df()

           database  ... temporary
0  ny_taxi_pipeline  ...     False
1  ny_taxi_pipeline  ...     False
2  ny_taxi_pipeline  ...     False
3  ny_taxi_pipeline  ...     False

[4 rows x 6 columns]

# Q3: Explore the loaded data

Inspect the table `ride`:

```py
df = pipeline.dataset(dataset_type="default").rides.df()
df
```

What is the total number of records extracted?

In [10]:
pipeline.dataset()

<dlt.dataset(dataset_name='ny_taxi_data', destination="<dlt.destinations.duckdb(destination_type='duckdb', staging_dataset_name_layout='%s_staging', enable_dataset_name_normalization=True, info_tables_query_threshold=1000, truncate_tables_on_staging_destination_before_load=True, local_dir='/Users/hyunwoooh/data-engineering-zoomcamp-homework/workshops/dlt', pipeline_name='ny_taxi_pipeline', pipeline_working_dir='/Users/hyunwoooh/.dlt/pipelines/ny_taxi_pipeline', create_indexes=False)>", schema="<dlt.Schema(name='ny_taxi', version=2, tables=['_dlt_version', '_dlt_loads', 'rides', '_dlt_pipeline_state'], version_hash='G4LPIUKQ+dMwzgkXTXErHiishCBBrCkUndFql1tx+t4=')>")>

In [8]:
df = pipeline.dataset().rides.df()
df

        end_lat    end_lon  ...         _dlt_id  store_and_forward
0     40.742963 -73.980072  ...  dURTv3OwT4N81g                NaN
1     40.740187 -74.005698  ...  w3d5bXhmwqRmMg                NaN
2     40.718043 -74.004745  ...  RbQsMgmLLvyrhg                NaN
3     40.739637 -73.985233  ...  IOSs1u7cjEMXSg                NaN
4     40.730032 -73.852693  ...  OuFEjPU04u++0Q                NaN
...         ...        ...  ...             ...                ...
9995  40.783522 -73.970690  ...  UZWtAKfm1vbD/g                NaN
9996  40.777200 -73.964197  ...  2HCWUufGoZ42zg                NaN
9997  40.780172 -73.957617  ...  KafEpcUMGqsDOQ                NaN
9998  40.777342 -73.957242  ...  9xtSQBBau7Pp6A                NaN
9999  40.757122 -73.986293  ...  kQ6YupX29/MBag                NaN

[10000 rows x 18 columns]

# Q4: Trip Duration Analysis

Run the SQL query below to:

* Calculate the average trip duration in minutes.

```py
with pipeline.sql_client() as client:
    res = client.execute_sql(
            """
            SELECT
            AVG(date_diff('minute', trip_pickup_date_time, trip_dropoff_date_time))
            FROM rides;
            """
        )
    # Prints column values of the first row
    print(res)
```

What is the average trip duration?

In [9]:
with pipeline.sql_client() as client:
    res = client.execute_sql(
            """
            SELECT
            AVG(date_diff('minute', trip_pickup_date_time, trip_dropoff_date_time))
            FROM rides;
            """
        )
    # Prints column values of the first row
    print(res)

[(12.3049,)]